<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Music catalog</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://getbootstrap.com/docs/4.0/examples/album/album.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div id="app">
		<header>
			<div class="navbar navbar-dark bg-dark box-shadow">
				<div class="container d-flex justify-content-between">
					<a href="#" class="navbar-brand d-flex align-items-center">
						<strong>Музыкальный альбом</strong>
					</a>
				</div>
		    </div>
	    </header>
	    <main role="main">
	    	<section class="jumbotron text-center">
	    		<div class="container">
	    			<h1 class="jumbotron-heading">Музыкальный альбом</h1>
	    		</div>
	    	</section>

	    	<div class="album py-5 bg-light">
	    		<div class="container" v-for="(musician, musicianIndex) in musicians">
	    			<h2 class="jumbotron-heading text-center">Музыкант: {{ musician.name }}, {{ musician.age }} лет, жанр {{ musician.genre }}. На сцене с {{ musician.careerStartYear }} года.</h2>
	    			<hr>
	    			<br>
	    			<div v-for="(album, albumIndex) in musician.albums" :key="albumIndex">
	    				<h3 class="jumbotron-heading">Альбом: <b>{{ album.name }}, {{ album.releaseYear }} год.</b></h3>
	    				<div class="row">
		    				<div class="col-md-4" v-for="(track, trackIndex) in album.tracks" :key="trackIndex">
		    					<div class="card mb-4 box-shadow">
		    						<div class="card-body">
		    							<h3 class="jumbotron-heading">{{ track.name }}</h3>
		    							<p class="card-text">Продолжительность: {{ track.duration }}</p>
		    							<p class="card-text">Время трека: 10 минут</p>
		    							<p class="card-text">
		    								Рейтинг:
		    								<span v-if="!track.isLiked">{{ track.rating }}</span>
		    								<span v-else>1</span>
		    							</p>
		    							<div class="d-flex justify-content-between align-items-center">
		    								<div class="btn-group">
		    									<button type="button" class="btn btn-sm btn-success" v-if="!track.isLiked" @click="setLike(musicianIndex, albumIndex, trackIndex)">
		    										<i class="fa fa-thumbs-up"></i>
		    									    Лайк
		    									</button>
		    									<button type="button" class="btn btn-sm btn-danger" v-else @click="setDislike(musicianIndex, albumIndex, trackIndex)">
		    										<i class="fa fa-thumbs-down"></i>
		    										Дислайк
		    									</button>
		    								</div>
		    							</div>
		    							<br>
		    							<div class="d-flex justify-content-between align-items-center">
		    							<div class="btn-group">
		    									<button type="button" class="btn btn-sm btn-primary" v-if="!track.isListened" @click="setListener(musicianIndex, albumIndex, trackIndex)">
		    										<i class="fa fa-headphones"></i>
		    										Прослушал
		    									</button>
		    									<button type="button" class="btn btn-sm btn-primary" v-else @click="setDislistener(musicianIndex, albumIndex, trackIndex)">
		    										<i class="fa fa-headphones"></i>
		    										Убрать из прослушаного
		    									</button>
		    									<button type="button" class="btn btn-sm btn-warning" v-if="!track.isFavorite" @click="setFavorite(musicianIndex, albumIndex, trackIndex)">
		    										<i class="fa fa-star"></i>
		    										В избранное
		    									</button>
		    									<button type="button" class="btn btn-sm btn-warning" v-else @click="setDisfavorite(musicianIndex, albumIndex, trackIndex)">
		    										<i class="fa fa-star"></i>
		    										Убрать из избраного
		    									</button>
		    								</div>
		    							</div>
		    						</div>
		    					</div>
		    				</div>
		    			</div>
	    			</div>
	    		</div>
	    	</div>
	    </main>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.0/vue-resource.min.js"></script>
	<script src="js/app.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>